<br>
<div class='create_place'>
  <%= link_to "Add a Place", new_place_path %>
</div>

<div class='view_map'>
<%= link_to "View locations on Map!", map_index_path %>
</div>


<% if @places.any? %>
<ul>

    <% @places.reverse.each do |place| %>
    <li class='main_list'>
      <div class='places_list'>
      <%= link_to place.name, place_path(place)%>
      <br>
      <br>
      <%= place.address %>
      <br>
      <br>
      Currently here: <%= @location_manager.place_count(place.id) %>
    <br>
    <br>
    <% if current_user && @location_manager.user_not_checked_in?(current_user.id) %>
      <form action='/location_managers' method='post'>
        <input type='hidden' name='user_id' value="<%=current_user.id%>" />
        <input type='hidden' name='place_id' value="<%= place.id %>" />
        <input type='submit' class="button" name='Check in' value='Check in'/>
      </form>
    </div>
    </li>
    <% end %>
    <% end %>

</ul>
  <% else %>
No Places yet
<% end %>
