<!DOCTYPE html>
<html>
  <head>
    <title>SocialCode</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
  <div class="wrapper">
    <a class="logo" href="/">Social Code</a>
  <div class="nav_links">
    <% if user_signed_in? %>
    <% unless @location_manager.user_not_checked_in?(current_user.id)%>
      You are checked into <%= @location_manager.user_location(current_user.id) %>
      <%= link_to 'Check out', location_manager_path(@location_manager.find_location_id(current_user.id)), method: :delete %>
    <% end %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <%= link_to 'Your profile', user_profile_path(current_user.id, current_user.profile.id)%>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
    </div>
  </div>
</nav>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
